<h2>Post details</h2>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p>Post ID: {{post.id}}</p>
            <p>{{post.body}}</p>
            <p>User ID: {{post.userId}}</p>
          </div>
    </div>
</div>

