<p>Profile</p>

<div class="container">
  <div class="card">
    <div class="card-body">
      <p>Name: {{ user.name }} {{ user.lastname }}</p>
      <p>Email: {{ user.email }}</p>
      <p>Phone number: {{ user.phone }}</p>
      <p>ID: {{ user.id }}</p>
      <div class="container">
        <h5>Edit profile</h5>
        <br />
        <form (ngSubmit)='editUser()' [formGroup]='editForm' novalidate class="form">
            <label for="email">Email: </label>
            <input formControlName='email' type="text" class="form-control" placeholder="{{ user.email }}" required />
            <div class="alert  alert-danger" *ngIf="!editForm.get('email').valid && editForm.get('email').touched">
                Valid email is required
            </div>
            <label for="phone">Phone number: </label>
            <input formControlName='phone' type="text" class="form-control" placeholder="{{user.phone}}" required />
            <div class="alert  alert-danger" *ngIf=" !editForm.get('phone').valid && editForm.get('email').touched">
                Valid phone number is required and should have 10 digits
            </div>
            <label for="name">Name: </label>
            <input formControlName='name' type="text" class="form-control" placeholder="{{user.name}}" required />
            <div class="alert  alert-danger" *ngIf=" !editForm.get('name').valid && editForm.get('email').touched">
                Valid name is required and should be letters(a-Z)
            </div>
            <label for="lastname">Lastname: </label>
            <input formControlName='lastname' type="text" class="form-control" placeholder="{{user.lastname}}" required />
            <div class="alert  alert-danger" *ngIf=" !editForm.get('lastname').valid && editForm.get('email').touched">
                valid lastname is required and should be letters(a-Z)
            </div>
            <label for="id">ID: </label>
            <input formControlName='id' type="number" class="form-control" placeholder="{{user.id}}" required />
            <div class="alert  alert-danger" *ngIf=" !editForm.get('id').valid && editForm.get('email').touched">
                Valid ID number is required and should be a number
            </div>
            <button [disabled]='editForm.invalid' class="btn btn-default">Edit profile</button>
        </form>
    </div>
    </div>
  </div>
</div>
