<div class="container">
    <h2>Signup</h2>
    <br />
    <form (ngSubmit)='signupUser()' [formGroup]='signupForm' novalidate class="form">
        <input formControlName='email' type="text" class="form-control" placeholder="Enter Email" required />
        <div class="alert  alert-danger" *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">
            Valid email is required
        </div>
        <input formControlName='password' type="password" class="form-control" placeholder="Enter Password" required />
        <div class="alert  alert-danger" *ngIf=" !signupForm.get('password').valid && signupForm.get('email').touched">
            Password is required and should have less than 10 characters
        </div>
        <input formControlName='phone' type="text" class="form-control" placeholder="Enter phone number" required />
        <div class="alert  alert-danger" *ngIf=" !signupForm.get('phone').valid && signupForm.get('email').touched">
            Valid phone number is required and should have 10 digits
        </div>
        <input formControlName='name' type="text" class="form-control" placeholder="Enter your name" required />
        <div class="alert  alert-danger" *ngIf=" !signupForm.get('name').valid && signupForm.get('email').touched">
            Valid name is required and should be letters(a-Z)
        </div>
        <input formControlName='lastname' type="text" class="form-control" placeholder="Enter your lastname" required />
        <div class="alert  alert-danger" *ngIf=" !signupForm.get('lastname').valid && signupForm.get('email').touched">
            valid lastname is required and should be letters(a-Z)
        </div>
        <input formControlName='id' type="number" class="form-control" placeholder="Enter your id number" required />
        <div class="alert  alert-danger" *ngIf=" !signupForm.get('id').valid && signupForm.get('email').touched">
            Valid ID number is required and should be a number
        </div>
        <button [disabled]='signupForm.invalid' class="btn btn-default">Signup</button>
    </form>
</div>